# Firebase
.firebase/
*-debug.log
firebase-debug.log

# Node
node_modules/

# Windows
desktop.ini
Thumbs.db

# macOS
.DS_Store

# VS Code (configs pessoais)
.vscode/
launch.json

# Backups e temporários
*.bak
*.tmp
gitattributes.txt
gitignore.txt
